/vendor
/node_modules
.env
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/database/*.sqlite
!database/.gitkeep
/.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
